services:
  php_fpm:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_fpm
    volumes:
      - ./:/var/www/html
    networks:
      - appnet

  php_nginx:
    image: nginx:alpine
    container_name: php_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php_fpm
    networks:
      - appnet

  php_mysql:
    image: mysql:8
    container_name: php_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestao_leads
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - appnet

volumes:
  mysql_data:

networks:
  appnet:
    driver: bridge
